body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  border: 5px solid black;
  margin: 100px;
  border-radius: 15px;
  background-image: url("./img/background_image.png");
  background-position: center;
  background-size: cover;
}
